<form class="center">
    <div class="imgcontainer">
        <img src="/assets/images/img_avatar2.png" alt="Avatar" class="avatar">
    </div>

    <div class="container">
        <label for="uname"><b>Username</b></label>
        <input [(ngModel)]="username" ngin type="text" placeholder="Enter Username" name="uname" required>

        <label for="psw"><b>Password</b></label>
        <input [(ngModel)]="password" type="password" placeholder="Enter Password" name="psw" required>

        <button type="button" (click)="login()">Login</button>
        <label>
            <input type="checkbox" checked="checked" name="remember"> Remember me
        </label>
        <br />
        <span>{{errorMessage}}</span>
    </div>
</form>